html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Nunito', sans-serif;
}

#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    filter: hue-rotate(210deg);
    opacity: 0.1;
    z-index: -1;
    transition: 1s;
}

.menu {
    background: white;
    box-shadow: 0 0 20px #00000033;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 70px;
    top: 0;
    z-index: 9;
}

.menu img {
    width: 40px;
    height: 50px;
    transition: 0.3s;
}

.menu a {
    transition: 0.3s;
}

.menu .nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.menu .nav a {
    flex-basis: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a:hover {
    background: #e5ffe5;
}

.menu .nav a:hover img {
    transform: rotate(15deg) translateX(20px);
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    color: rgb(160, 185, 255);
}

.main {
    width: calc(100% - 70px);
    margin-left: 70px;
}

h1 {
    text-align: center;
    margin: auto;
    font-size: 50px;
    box-shadow: 0 5px 10px #00000011;
    background: white;
    line-height: 70px;
    border-radius: 0 0 25px 25px;
    color: rgb(160, 185, 255);
    width: 90%;
    max-width: 300px;
}

#intro {
    display: flex;
    margin: 100px auto 50px;
    position: relative;
    width: 100%;
    background: #ffffffff;
}

#intro:hover h2 {
    transform: translateX(0);
}

#intro h2 {
    transition: 0.6s;
    background-image: url("intro2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-basis: 50%;
    flex-shrink: 0;
    font-size: 30px;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 0 20px #000000aa;
    padding: 100px 50px;
    box-shadow: 0 10px 20px #00000044;
    border-radius: 0 25px 25px 0;
    transform: translateX(-10px);
}

#intro ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0 10px;
    box-sizing: border-box;
}

#intro ul li {
    background: rgb(229, 255, 229);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 25px;
    padding: 0 25px;
    margin: 5px;
    border: 2px solid transparent;
    cursor: default;
    box-sizing: border-box;
    transition: .3s;
}

#intro ul li:hover {
    border: 2px solid rgb(157, 233, 182);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px #00000022;
}

#intro ul li img {
    height: 50px;
    width: 30px;
    margin-right: 10px;
    filter: grayscale(50%);
    transition: 0.3s;
}

#intro ul li:hover img {
    filter: grayscale(0);
}

.sectionTitle {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 100px auto 50px;
    color: #333;
    text-align: center;
}

.sectionTitle img {
    height: 30px;
    margin: 0 5px;
}

#plants {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.plant {
    background-size: cover;
    background-position: center;
    flex-basis: 250px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0 10px 20px #00000044;
    margin: 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background: #fff;
    z-index: 1;
}

.plant img {
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .6s;
    filter: brightness(0.9)
}

.plant h2 {
    position: relative;
    background: #ffffffee;
    line-height: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    transition: .3s;
    box-shadow: 0 5px 20px #00000033;
    font-size: 20px;
    color: #333;
}

.plant:hover img {
    transform: scale(1.05);
    filter: brightness(1.2)
}
.plant:nth-child(2) {
    height: 350px;
}

.plant:nth-child(3) {
    height: 400px;
}

.plant:nth-child(4) {
    height: 300px;
}

.plant:nth-child(5) {
    height: 500px;
}

#news {
    background: pink;
    display: flex;
}

.new {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 200px;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px #000000ff;
    font-size: 30px;
}

.new:first-child {
    background-image: url("internet.jpg");
    flex-grow: 3;
}

.new:nth-child(2) {
    background-image: url("guys.jpg");
    flex-grow: 5;
}

.new:last-child {
    flex-grow: 1;
    background-image: url("events.jpg");
}

#recycle {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-bottom: 300px;
}

#recycle div {
    flex-basis: 400px;
    background: url("land0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 5;
    display: flex;
    justify-content: center;
    border-radius: 50px;
}
#recycle div{
    box-shadow: 0 10px 20px #00000044;
    
}
#recycle img {
    width: 100px;

    filter: drop-shadow(0 0 20px #000);
}

#recycle p {
    flex-basis: 400px;
    flex-shrink: 1;
    margin: 100px;
}

#fire {
    background: white;
    height: 50px;
    padding: 10px 50px;
    border-radius: 35px;
    box-shadow: 0 5px 10px #00000022;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: auto;
    margin-bottom: 300px;
}

#fire:hover {
    transform: translateY(-5px);
    background: rgb(255, 211, 211);
}

@media(max-width: 600px) {
    .menu {
        flex-direction: row;
        position: fixed;
        height: auto;
        width: 100%;
    }
    .menu img{
        height: 50px;
        width: 30px;
    }
    .logo h5{
        display: none;
    }
    .menu .nav {
        display: flex;
        flex-direction: row;
    }
    .main{
        margin-left: 0;
        width: 100%;
        padding-top: 50px;
    }
    h1{
        font-size: 30px;
        line-height: 50px;
    }
    .sectionTitle{
        margin-top: 50px;
    }
    #intro{
        flex-direction: column;
        margin-top: 20px;
    }
    #intro ul{
        margin: 20px 0;
    }
    #news{
        flex-direction: column;
    }
    #recycle{
        flex-direction: column;
    }
    #recycle p{
        margin: 50px 0;
    }
}