/* body {
    background: url("bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
} */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Nunito', sans-serif;
    /* display: flex; */
}

#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
    filter: hue-rotate(210deg);
    opacity: 0.1;
    z-index: -1;
    transition: 1s;
}

.menu {
    background: white;
    box-shadow: 0 0 20px #00000033;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 70px;
    top: 0;
}

.menu img {
    width: 50px;
    height: 50px;
    /* background: white; */
    transition: 0.3s;
}

.menu a {
    /* background: pink; */
    transition: 0.3s;
}

.menu nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* background: green; */
    /* justify-content: space-between; */
}

.menu nav a {
    flex-basis: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a:hover {
    /* background: pink; */
    background: rgba(0, 0, 0, 0.1);
    background: rgb(229, 255, 229);
}

.menu nav a:hover img {
    /* transform: translateX(20px); */
    transform: rotate(15deg) translateX(20px);
    /* box-shadow: 0 0 20px #00000066; */
    /* border-radius: 25px; */
}

.logo {
    /* background: tan !important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
    color: rgb(160, 185, 255);
}

main {
    /* padding: 0 70px; */
    width: calc(100% - 70px);
    /* background: green; */
    margin-left: 70px;
}

h1 {
    text-align: center;
    /* background: pink; */
    margin: auto;
    font-size: 50px;
    /* color: white; */
    box-shadow: 0 5px 10px #00000011;
    background: white;
    line-height: 70px;
    border-radius: 0 0 25px 25px;
    color: rgb(160, 185, 255);
    width: 300px;
}

.sectionTitle {
    /* background: pink; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 100px auto 50px;
    color: #333;
}

.sectionTitle img {
    height: 30px;
    margin: 0 5px;
}

#plants {
    display: flex;
    justify-content: center;
    /* background: pink; */
    align-items: center;
    flex-wrap: wrap;
}

.plant {
    background-image: url("plant0.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
    flex-basis: 300px;
    height: 500px;
    border-radius: 100%;
    /* box-shadow: 0 10px 20px #00000033; */
    margin: 0 10px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* align-items: sp; */
    flex-wrap: wrap;
    align-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    /* justify-content: space-evenly; */
}

.plant h2 {
    /* width: 70%; */
    background: #ffffffee;
    line-height: 40px;
    text-align: center;
    /* margin: 0 10px; */
    border-radius: 20px;
    padding: 0 20px;
    box-shadow: 0 5px 20px #00000033;
}

.plant h2:last-child {
    /* text-align: right; */
    /* align-self: flex-end; */
}

.plant:nth-child(2) {
    height: 300px;
    background-image: url("plant1.jpg");
}

.plant:nth-child(3) {
    height: 400px;
    background-image: url("plant2.jpg");
}

#news {
    background: pink;
    display: flex;
}

.new {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 200px;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px #000000ff;
    font-size: 30px;
}

.new:first-child {
    background-image: url("internet.jpg");
    flex-grow: 3;
}

.new:nth-child(2) {
    background-image: url("guys.jpg");
    flex-grow: 5;
}

.new:last-child {
    flex-grow: 1;
    background-image: url("events.jpg");
}

#recycle {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-bottom: 300px;
}

#recycle div {
    height: 400px;
    flex-basis: 400px;
    /* width: 400px; */
    /* padding: 0 150px; */
    /* box-sizing: border-box; */
    background: url("land0.jpg");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    flex-shrink: 5;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    /* max-width: 100%; */
}

#recycle img {
    width: 100px;
    filter: drop-shadow(0 0 20px #000);
}

#recycle p {
    flex-basis: 400px;
    flex-shrink: 1;
    margin: 100px;
}

#fire {
    background: white;
    height: 50px;
    padding: 10px 50px;
    border-radius: 35px;
    box-shadow: 0 5px 10px #00000022;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: auto;
    margin-bottom: 300px;
}

#fire:hover {
    /* transform: scale(1.05); */
    transform: translateY(-5px);
    background: rgb(255, 211, 211);
}